
/* Header */
.name{
  font-family: 'Parisienne', cursive;
  font-size: 5.625rem;
  padding-bottom: 10px;
  font-weight: normal;
  text-align: center;
}

.position{
  font-family: 'Cinzel', serif;
  padding-bottom: 10px;
  text-align: center;
  font-size: 2.5rem;
}

#top-container{
  position: relative;
  padding: 380px;
  background-color: #364f6b;
}

/* NavBar */

.navbar{
  padding-bottom: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.navbar-brand{
  font-family: "Ubunty";
  font-weight: bolder;
  font-size: 50%;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}


/* About Component */

#about-container{
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
} 


.about-me{
  text-align: left;
  padding-bottom: 2% ;
  font-family: "Montserrat";
  font-weight: bold;
}

.about-paragrah{
  font-family: "Montserrat";
  line-height: 2;
  padding-right: 35%;
}

.profile-picture{
  border-radius: 100%;
  width: 30%;
  float: right;
}

.knowledge-section{
  text-align: center;
}