body{
  margin: 0;
}
.name{
  margin-top: 50px auto 0 auto;
  font-family: 'Parisienne', cursive;
  font-size: 5.625rem;
  padding-bottom: 10px;
  font-weight: normal;
text-align: center;

}

.position{
  font-family: 'Cinzel', serif;
  padding-bottom: 10px;
  text-align: center;
  font-size: 2.5rem;
}

.top-container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://images.photowall.com/products/60881/brooklyn-bridge-4.jpg?h=699&q=85');
}